.fulfilment-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-gap: 1rem;
}

.OrdersToPrepare,
.PreparedOrders {
    border: 1px solid var(--clr-primary);
    border-radius: 10px;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    position: relative;
    padding-bottom: 3rem;
}



.title {
    margin-bottom: 1rem;
}

.clear {
    position: absolute;
    bottom: 1rem;
}

.clear-btn {
    border: 1px solid var(--clr-primary);
    background: none;
    color: var(--clr-secondary);
    border-radius: 10px;
    transition: 0.2s;
}

.clear-btn:hover {
    background: var(--clr-primary);
    color: white;
}

.order__two-buttons {
    padding: 0rem;
    display: flex;
    justify-content: space-between;
}


.order {
    padding: 0.5rem;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
}