body {
    margin-top: 6rem;
}

.flash {
    background-color: var(--clr-primary);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -1.75rem;
    margin-bottom: -4rem;
}


.flash__message {
    font-size: var(--size-xl);
}

.flash__btn button {
    background: white;
    border-radius: 5px;
    border: none;
    margin-left: 0.5rem;
    padding: 0 0.25rem;
    align-self:auto;
}




.menu-intro {
    background-color: var(--clr-tertiary);
    max-width: 40ch;
    margin: 0 auto;
    margin-top: 5rem;
    padding: 0.5rem;
}

.menu-intro__title {
    font-size: var(--size-2xl);
    text-align: center;
    font-weight: 500;
    letter-spacing: -0.05rem;
}










.container {
    display: grid;
    grid-template-rows: repeat(auto, 12.5rem);
    grid-template-columns: repeat(auto-fit, minmax(16rem,1fr));
    grid-gap: 1rem;
}

.container__item {
    text-align: center;

}

.container__image {
    display: block;
    width: 80%;
    margin: 0 auto 0.75rem auto;
}



















.footer {
    background-color: var(--clr-tertiary);
    bottom: 0;
    position: fixed;
    width: 100%;
}

.footer__grid {
    display: grid;
    grid-template-rows: 4rem;
    grid-template-columns: 1fr 1fr;
}



.footer__form-grid {
    margin: 0.5rem 1.5rem;
    display: grid;
    grid-template-rows: 3rem;
    grid-template-columns: 2fr 1fr;
}


.footer__basket-grid {
    margin: 0.5rem 1.5rem;
    display: grid;
    grid-template-rows: 3rem;
    grid-template-columns: 4fr 1fr 1fr;;
    align-items: center;
}

.footer__basket-items {
    font-size: var(--size-xl);
    color: var(--clr-secondary);
}




@media (max-width:640px) {
    .footer__basket-items {
        font-size: var(--size-base);
        color: var(--clr-secondary);
    }
}


@media (min-width:1024px) {
    .fb {
        padding: 0.5rem 1rem;
    }
}