.progress-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    grid-gap: 1rem;
}


.InTheKitchen,
.PleaseCollect {
    border: 1px solid var(--clr-primary);
    border-radius: 10px;
    padding: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}



.title {
    margin-bottom: 1rem;
}


.id-name-wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
}





.id {
    font-size: var(--size-3xl);
    font-weight: 700;
    background: var(--clr-secondary);
    color: white;
    text-align: center;
}

.id2 {
    font-size: var(--size-3xl);
    font-weight: 700;
    background: var(--clr-primary);
    color: white;
    text-align: center;
}

.name {
    font-size: var(--size-3xl);
    border-top: 1px solid var(--clr-primary);
}


.name p {
    text-align:left;
    padding-left: 1rem;
}