@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap");

:root {
    --clr-primary: #fe5722;
    --clr-secondary: #272d36;
    --clr-tertiary: #fff5f2;

    /* sizes  */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875re;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

}


*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}



/* styles for all pages  */

body {
    margin-top: 6rem;
    margin-bottom: 15rem;
    font-size: var(--size-lg);
    color: var(--clr-secondary);
}

strong {
    font-weight: 700;
    font-size: var(--size-2xl);
}



.navbar {
    width: 100%;
    height:4.25rem;
    background-color: var(--clr-tertiary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.navbar__link {
    color: var(--clr-secondary);
    text-decoration: none;
    font-size: var(--size-2xl);
    padding: 0 1rem 0 1rem;
    transition: 0.2s;
}

.navbar__link:hover {
    color: var(--clr-primary);
    font-weight: 700;
}

.navbar__title {
    font-size: var(--size-7xl);
    color: var(--clr-primary);
    text-decoration: none;
    letter-spacing: -0.4rem;
    font-weight: 700;
    margin-right: 1rem;
}



.seperator {
    margin: 2rem 0;
}

.btn {
    border: 1px solid var(--clr-secondary);
    padding: 0.25rem;
    background: var(--clr-primary);
    color: white;
    font-size: var(--size-lg);
    cursor: pointer;
}


@media (max-width:640px) {
    .navbar__link {
        font-size: var(--size-xl);
        padding: 0 0.5rem 0 0.5rem;
    }
}
